{% load static %}

<link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
{% block css %}

{% endblock %}
<div class="e6363_2482"></div>
<div class="e6363_2483"></div>
<div class=e6378_21>
<div class=e6356_1459>
    <div class=e6356_1460><span class="e6356_1461"></span><span class="e6356_1462">Pasaremos por todas las etapas
            de la
            construcción.</span></div>
    <div class=e6356_1463>
        <div class=e6356_1464><span class="e6356_1465"></span><span class="e6356_1466">203 Madison Ave, New York,
                USA</span></div>
        <div class=e6356_1467><span class="e6356_1468"></span><span class="e6356_1469">Login</span></div>
    </div>
</div>
<div class=e6356_1470>
    <div class=e6356_1471>
        <div class=e6356_1472><span class="e6356_1473">Inicio</span><span class="e6356_1474"></span></div>
        <div class=e6356_1475><span class="e6356_1476">paginas</span><span class="e6356_1477"></span></div>
        <div class=e6356_1478><span class="e6356_1479">Servicios</span><span class="e6356_1480"></span></div>
        <div class=e6356_1481><span class="e6356_1482">Blog</span><span class="e6356_1483"></span></div>
        <div class=e6356_1484><span class="e6356_1485">Tienda</span><span class="e6356_1486"></span></div>
        <div class=e6356_1487><span class="e6356_1488">Contacto</span></div>
    </div>
    <div class=e6356_1489>
        <div class=e6356_1490><span class="e6356_1491"></span><span class="e6356_1492"></span>
            <div class=e6356_1493><span class="e6356_1494">0</span></div>
        </div>
        <div class=e6356_1495><span class="e6356_1496">Registrarse</span><span class="e6356_1497"></span></div>
    </div>
</div>
</div>


<div class=e4316_614>
    <div class=e4316_616>
 

        <div class="e6363_2475"></div><span class="e6363_2476">Ing🇺🇸</span><span
        class="e6363_2477">esp🇪🇸</span><span class="e6363_2478">Por🇵🇹</span>

        {% block contenido %}








        {% endblock %}



   
      
        <div class="e6363_2482"></div>
        <div class="e6363_2483"></div>
        <div class=e6378_21>
            <div class=e6378_22><span class="e6378_23">
                    Definiciones de privacidad
                    Proveedor
                    Política de Privacidad
                    Términos e Condiciones de Uso
                    Acerca de Bosch
                    Cómo Comprar
                    Cambio y Devolución
                    Contácte el Revendedor Bosch
                    Blog</span><span class="e6378_24">Institucional</span><span class="e6378_25">Lunes - Jueves09:00 am
                    a 19:00
                    pm</span><span class="e6378_26">800 400 008</span><span class="e6378_27">(+56) 225801090</span><span
                    class="e6378_28">Cuenta</span><span class="e6378_29">Servicio al cliente</span><span
                    class="e6378_30">horario
                    de atencion</span><span class="e6378_31">Desde celulares</span><span class="e6378_32">Pagos</span>
            </div><span class="e6378_34">Teléfono</span><span class="e6378_35">Mi Cuenta
                Mis Pedidos</span>
        </div>
    </div>



    {% block js %}


    {% endblock %}