{% load static %}

<link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
{% block css %}

{% endblock %}


<div class=e4316_614>
    <div class=e4316_616>
      <div class=e4316_618>
        <div class=e6367_2073><span class="e6328_156">Aceros</span></div>
      </div>
      <div class=e4316_752>
        <div class=e4316_753>
          <div class=e4316_756><span class="e4316_757">ver la colección ></span></div>
          <div class="e6326_1348"></div>
          <div class=e4316_758><span class="e4316_759"></span><span class="e4316_760">Madera</span></div>
        </div>
        <div class=e4316_761>
          <div class=e4316_764><span class="e4316_765">ver la colección ></span></div>
          <div class="e6326_1349"></div>
          <div class=e4316_766><span class="e4316_767"></span><span class="e4316_768">Construcción</span></div>
        </div>
        <div class=e4316_769>
          <div class=e4316_772><span class="e4316_773">Ver la colección ></span></div>
          <div class="e6326_1351"></div>
          <div class=e4316_774><span class="e4316_775"></span><span class="e4316_776"> Electricos</span></div>
        </div>
      </div>
      <div class=e6328_48>
        <div class=e6328_49>
          <div class=e6328_50><span class="e6328_51">ver la colección ></span></div>
          <div class="e6328_52"></div>
          <div class=e6328_53><span class="e6328_54"></span><span class="e6328_55">Madera</span></div>
        </div>
        <div class=e6328_57>
          <div class=e6328_58><span class="e6328_59">ver la colección ></span></div>
          <div class="e6328_60"></div>
          <div class=e6328_61><span class="e6328_62"></span><span class="e6328_63">Construcción</span></div>
        </div>
        <div class=e6328_64>
          <div class=e6328_65><span class="e6328_66">Ver la colección ></span></div>
          <div class="e6328_67"></div>
          <div class=e6328_68><span class="e6328_69"></span><span class="e6328_70"> Electricos</span></div>
        </div>
      </div>
      
{% block contenido %}








{% endblock %}
<div class=e4316_854>
    <div class=e4316_855>
      <div class="e4316_856"></div>
    </div>
    <div class=e4316_857>
      <div class="e4316_858"></div>
      <div class=e4316_859>
        <div class=e4316_862><span class="e4316_864">Tenemos todo lo que buscas!</span></div>
      </div>
      <div class=e4316_865><span class="e4316_866">Ver productos</span></div>
    </div>
    <div class=e4316_867>
      <div class="e4316_868"></div>
    </div>
    <div class=e4316_869></div>
    <div class=e4316_871></div>
  </div>
  <div class="e6322_1256"></div>
  <div class=e6328_2>
    <div class=e6328_3>
      <div class=e6328_4><span class="e6328_5">ver la colección ></span></div>
      <div class="e6328_6"></div>
      <div class=e6328_7><span class="e6328_8"></span><span class="e6328_9">Madera</span></div>
    </div>
    <div class=e6328_11>
      <div class=e6328_12><span class="e6328_13">ver la colección ></span></div>
      <div class="e6328_14"></div>
      <div class=e6328_15><span class="e6328_16"></span><span class="e6328_17">Construcción</span></div>
    </div>
    <div class=e6328_18>
      <div class=e6328_19><span class="e6328_20">Ver la colección ></span></div>
      <div class="e6328_21"></div>
      <div class=e6328_22><span class="e6328_23"></span><span class="e6328_24"> Electricos</span></div>
    </div>
  </div>
  <div class=e6328_161><span class="e6328_162">Ferretería</span></div>
  <div class=e6328_163><span class="e6328_164">Herramientas</span></div>
  <div class=e6328_165><span class="e6328_166">Maderas</span></div>
  <div class="e6363_2475"></div><span class="e6363_2476">Ing🇺🇸</span><span class="e6363_2477">esp🇪🇸</span><span
    class="e6363_2478">Por🇵🇹</span>
  <div class="e6363_2482"></div>
  <div class="e6363_2483"></div>
  <div class=e6378_21>
    <div class=e6378_22><span class="e6378_23">
        Definiciones de privacidad
        Proveedor
        Política de Privacidad
        Términos e Condiciones de Uso
        Acerca de Bosch
        Cómo Comprar
        Cambio y Devolución
        Contácte el Revendedor Bosch
        Blog</span><span class="e6378_24">Institucional</span><span class="e6378_25">Lunes - Jueves09:00 am a 19:00
        pm</span><span class="e6378_26">800 400 008</span><span class="e6378_27">(+56) 225801090</span><span
        class="e6378_28">Cuenta</span><span class="e6378_29">Servicio al cliente</span><span class="e6378_30">horario
        de atencion</span><span class="e6378_31">Desde celulares</span><span class="e6378_32">Pagos</span></div><span
      class="e6378_34">Teléfono</span><span class="e6378_35">Mi Cuenta
      Mis Pedidos</span>
  </div>
</div>
<div class=e6356_1459>
  <div class=e6356_1460><span class="e6356_1461"></span><span class="e6356_1462">Pasaremos por todas las etapas de la
      construcción.</span></div>
  <div class=e6356_1463>
    <div class=e6356_1464><span class="e6356_1465"></span><span class="e6356_1466">203 Madison Ave, New York,
        USA</span></div>
    <div class=e6356_1467><span class="e6356_1468"></span><span class="e6356_1469">Login</span></div>
  </div>
</div>
<div class=e6356_1470>
  <div class=e6356_1471>
    <div class=e6356_1472><span class="e6356_1473">Inicio</span><span class="e6356_1474"></span></div>
    <div class=e6356_1475><span class="e6356_1476">paginas</span><span class="e6356_1477"></span></div>
    <div class=e6356_1478><span class="e6356_1479">Servicios</span><span class="e6356_1480"></span></div>
    <div class=e6356_1481><span class="e6356_1482">Blog</span><span class="e6356_1483"></span></div>
    <div class=e6356_1484><span class="e6356_1485">Tienda</span><span class="e6356_1486"></span></div>
    <div class=e6356_1487><span class="e6356_1488">Contacto</span></div>
  </div>
  <div class=e6356_1489>
    <div class=e6356_1490><span class="e6356_1491"></span><span class="e6356_1492"></span>
      <div class=e6356_1493><span class="e6356_1494">0</span></div>
    </div>
    <div class=e6356_1495><span class="e6356_1496">Registrarse</span><span class="e6356_1497"></span></div>
  </div>
</div>
<div class=e6356_1498>
  <div class=e6356_1499>
    <div class=e6356_1500></div>
  </div>
</div>



{% block js %}


{% endblock %}