

{% extends 'core/base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block contenido %}








<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aux in listarproductos %}
                            <tr class="table-body-row">
                                <td class="product-remove"><i class="far fa-window-close" onclick="eliminar_producto({{ aux.id }})"></i></td>
                                <td class="product-image"><img src="{{ aux.producto.imagen.url }}" alt=""></td>
                                <td class="product-name">{{ aux.producto.nombre }}</td>
                                <td class="product-price">${{ aux.valor }}</td>
                                <td class="product-total">{{ aux.cantidad_agregada }}</td>
                                <td class="product-total">${{ aux.total_producto }}</td>
                            </tr>
                            {% endfor %}
                            
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>${{ total_precio }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                            
                        <a href="{% url 'checkout' %}" class="boxed-btn black">Realizar pago</a>
                    </div>
                </div>
                <div class="coupon-section">
                    <h3>Appl Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <a href="" class="boxed-btn black">Aplicar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










{% endblock %}
{% block js %}
{% endblock %}