{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}

<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Billing Address
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form method="POST" action="{% url 'checkout' %}" id="checkoutForm">
                                            {% csrf_token %}
                                            <p><input type="text" name="name" placeholder="Name" required></p>
                                            <p><input type="email" name="email" placeholder="Email" required></p>
                                            <p><input type="text" name="address" placeholder="Address" required></p>
                                            <p><input type="tel" name="phone" placeholder="Phone" required></p>
                                            <p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>
											<p>
												<label for="tipo_entrega">Tipo de entrega:</label>
												<select name="tipo_entrega" id="tipo_entrega" required>
													<option value="retiro">Retiro en tienda</option>
													<option value="envio">Envío a domicilio</option>
												</select>
											</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Repite las otras secciones del acordeón si es necesario -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="order-details-wrap">
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>Your order Details</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody class="order-details-body">
                            <tr>
                                <td>Product</td>
                                <td>Total</td>
                            </tr>
                            {% for item in productos_en_carrito %}
                            <tr>
                                <td>{{ item.producto.nombre }} (x{{ item.cantidad_agregada }})</td>
                                <td>${{ item.subtotal_producto }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tbody class="checkout-details">
                            <tr>
                                <td>Subtotal</td>
                                <td>${{ total_precio }}</td>
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td id="shipping_cost">$0</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td id="total_cost">${{ total_precio }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <button id="checkoutBtn" class="boton-ferreteria">Comprar</button>
                    <div id="wallet_container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}
