{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Fruitkha</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'core/css/meanmenu.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">

</head>

<body>



    <div class="list-section pt-150 pb-80">
        <div class="container">
            <div class="row">            
                <button href="{% url 'productos' %}" class="boton-ferreteria">Ferretería</button>
                <button href="{% url 'productos' %}" class="boton-ferreteria">Herramientas</button>
                <button href="{% url 'productos' %}" class="boton-ferreteria">Maderas</button>
                <button href="{% url 'productos' %}" class="boton-ferreteria">Pinturas</button>
            </div>
        </div>
    </div>
    





    <section class="shop-banner" style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
        <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h3>TENEMOS TODO <br> LO QUE BUSCAS!</h3>
            <a href="{% url 'productos' %}" class="cart-btn btn-lg">Ver productos</a>
        </div>
    </section>
    



    <div class="product-section mt-150 mb-150"  style="margin-bottom: 400px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text"></span> Algunos de nuestros productos</h3>
                
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="single-product.html"><img src="{% static 'core/img/products/product-img-1.jpg' %}" alt=""></a>
                        </div>
                        <h3>Strawberry</h3>
                        <p class="product-price"><span>Per Kg</span> 85$ </p>
                        <a href="" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ver producto</a>
                    </div>
                </div>
               

          
            </div>
        </div>
    </div>
   


</body>

</html>



{% endblock %}

{% block js %}

{% endblock %}