<style>
  .4316_614 { 
	overflow:hidden;
}
.e4316_614 { 
	background-color:rgba(181.68749392032623, 47.69296981394291, 47.69296981394291, 1);
	width:1920px;
	height:4761px;
	position:absolute;
}
.e4316_616 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:4792px;
	position:absolute;
	left:0px;
	top:-15px;
}
.e4316_618 { 
	box-shadow:0px 3px 114px rgba(0, 0, 0, 0.07999999821186066);
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:338px;
	height:175px;
	position:absolute;
	left:105px;
	top:900px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e6367_2073 { 
	width:295px;
	height:52px;
	position:absolute;
	left:21px;
	top:62px;
}
.e6328_156 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Exo;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	line-height:px;
}
.e4316_752 { 
	width:1640px;
	height:490.5px;
	position:absolute;
	left:161px;
	top:2211px;
}
.e4316_753 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:4.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4316_756 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:0px;
	top:393px;
}
.e4316_757 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:248.58311462402344px;
	height:30px;
	position:absolute;
	left:45px;
	top:36px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6326_1348 { 
	width:517px;
	height:393px;
	position:absolute;
	left:0.5px;
	top:0px;
	background-image:url(images/ed92eab3_a4fb_4bec_bf34_8371eb224f60___0cd7e94687c9fc532adb66c0332a3305_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_758 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:0.5px;
	top:371px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e4316_759 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e4316_760 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6326_1347 { 
	width:100px;
	height:100px;
	position:absolute;
	left:151.5px;
	top:-28px;
}
.e4316_761 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:560.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4316_764 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:3.5px;
	top:388px;
}
.e4316_765 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:239.7161865234375px;
	height:30px;
	position:absolute;
	left:37px;
	top:49px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6326_1349 { 
	width:511px;
	height:410px;
	position:absolute;
	left:6.5px;
	top:0px;
	background-image:url(images/a740aee5_7210_4374_9a75_03c3b5153c84___e91810d032cfc728ce6a0377e0957156_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_766 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:6.5px;
	top:380px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e4316_767 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e4316_768 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e4316_769 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:1116.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4316_772 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:0px;
	top:393px;
}
.e4316_773 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:239.7161865234375px;
	height:30px;
	position:absolute;
	left:45px;
	top:36px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6326_1351 { 
	width:517px;
	height:393px;
	position:absolute;
	left:0.5px;
	top:0px;
	background-image:url(images/93f68f93_52f1_4369_a275_1843bf6dfdae___6f8a1936053a46675b79d476162f4677__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_774 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:0.5px;
	top:371px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e4316_775 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e4316_776 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_48 { 
	width:1640px;
	height:490.5px;
	position:absolute;
	left:155px;
	top:3486px;
}
.e6328_49 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:4.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6328_50 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:0px;
	top:393px;
}
.e6328_51 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:248.58311462402344px;
	height:30px;
	position:absolute;
	left:45px;
	top:36px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6328_52 { 
	width:517px;
	height:393px;
	position:absolute;
	left:0.5px;
	top:0px;
	background-image:url(images/ed92eab3_a4fb_4bec_bf34_8371eb224f60___0cd7e94687c9fc532adb66c0332a3305_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_53 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:0.5px;
	top:371px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6328_54 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_55 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_56 { 
	width:100px;
	height:100px;
	position:absolute;
	left:151.5px;
	top:-28px;
}
.e6328_57 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:560.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6328_58 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:3.5px;
	top:388px;
}
.e6328_59 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:239.7161865234375px;
	height:30px;
	position:absolute;
	left:37px;
	top:49px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6328_60 { 
	width:511px;
	height:410px;
	position:absolute;
	left:6.5px;
	top:0px;
	background-image:url(images/a740aee5_7210_4374_9a75_03c3b5153c84___e91810d032cfc728ce6a0377e0957156_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_61 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:6.5px;
	top:380px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6328_62 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_63 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_64 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:1116.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6328_65 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:0px;
	top:393px;
}
.e6328_66 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:239.7161865234375px;
	height:30px;
	position:absolute;
	left:45px;
	top:36px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6328_67 { 
	width:517px;
	height:393px;
	position:absolute;
	left:0.5px;
	top:0px;
	background-image:url(images/93f68f93_52f1_4369_a275_1843bf6dfdae___6f8a1936053a46675b79d476162f4677__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_68 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:0.5px;
	top:371px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6328_69 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_70 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e4316_781 { 
	width:1220px;
	height:68.88999938964844px;
	position:absolute;
	left:350px;
	top:5330.580078125px;
}
.e4316_854 { 
	width:1920px;
	height:703.5px;
	position:absolute;
	left:0px;
	top:1206px;
}
.e4316_855 { 
	width:1371.4200439453125px;
	height:703.5px;
	position:absolute;
	left:-1097.1500244140625px;
	top:0px;
	background-image:url(images/group___2___8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_856 { 
	background-color:rgba(0, 0, 0, 0.5);
	width:1371.4200439453125px;
	height:703.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4316_857 { 
	width:1371.4200439453125px;
	height:703.5px;
	position:absolute;
	left:274.2699890136719px;
	top:0px;
	background-image:url(images/group___3___8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_858 { 
	background-color:rgba(0, 0, 0, 0.5);
	width:1371.4200439453125px;
	height:703.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4316_859 { 
	width:810px;
	height:240px;
	position:absolute;
	left:280.7099914550781px;
	top:225px;
}
.e4316_860 { 
	width:14px;
	height:22px;
	position:absolute;
	left:398px;
	top:0px;
	background-image:url(images/sc_icon_white_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_862 { 
	width:810px;
	height:190px;
	position:absolute;
	left:0px;
	top:50px;
}
.e4316_864 { 
	color:rgba(255, 255, 255, 1);
	width:497.0836486816406px;
	height:108px;
	position:absolute;
	left:156.0205078125px;
	top:41px;
	font-family:Exo;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}
.e4316_865 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:177.8300018310547px;
	height:58.5px;
	position:absolute;
	left:596.7999877929688px;
	top:495px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e4316_866 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:17px;
	position:absolute;
	left:30px;
	top:21px;
	font-family:Exo;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e4316_867 { 
	width:1371.4200439453125px;
	height:703.5px;
	position:absolute;
	left:1645.68994140625px;
	top:0px;
	background-image:url(images/group___4___8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_868 { 
	background-color:rgba(0, 0, 0, 0.5);
	width:1371.4300537109375px;
	height:703.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4316_869 { 
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:384px;
	top:321.75px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4316_870 { 
	width:19px;
	height:11px;
	position:absolute;
	left:20.5px;
	top:24.5px;
	background-image:url(images/arrow_prev_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_871 { 
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:1476px;
	top:321.75px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4316_872 { 
	width:19px;
	height:11px;
	position:absolute;
	left:20.5px;
	top:24.5px;
	background-image:url(images/arrow_next_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4316_873 { 
	width:1220px;
	height:68.88999938964844px;
	position:absolute;
	left:350px;
	top:9834.25px;
}
.e6322_1256 { 
	width:1920px;
	height:796px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/presentaci_n_proyecto_final_figuras_geometricas_azul__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_2 { 
	width:1640px;
	height:490.5px;
	position:absolute;
	left:161px;
	top:2835px;
}
.e6328_3 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:4.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6328_4 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:0px;
	top:393px;
}
.e6328_5 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:248.58311462402344px;
	height:30px;
	position:absolute;
	left:45px;
	top:36px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6328_6 { 
	width:517px;
	height:393px;
	position:absolute;
	left:0.5px;
	top:0px;
	background-image:url(images/ed92eab3_a4fb_4bec_bf34_8371eb224f60___0cd7e94687c9fc532adb66c0332a3305_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_7 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:0.5px;
	top:371px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6328_8 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_9 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_10 { 
	width:100px;
	height:100px;
	position:absolute;
	left:151.5px;
	top:-28px;
}
.e6328_11 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:560.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6328_12 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:3.5px;
	top:388px;
}
.e6328_13 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:239.7161865234375px;
	height:30px;
	position:absolute;
	left:37px;
	top:49px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6328_14 { 
	width:511px;
	height:410px;
	position:absolute;
	left:6.5px;
	top:0px;
	background-image:url(images/a740aee5_7210_4374_9a75_03c3b5153c84___e91810d032cfc728ce6a0377e0957156_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_15 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:6.5px;
	top:380px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6328_16 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_17 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_18 { 
	width:517px;
	height:490.5px;
	position:absolute;
	left:1116.5px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e6328_19 { 
	background-color:rgba(238.00000101327896, 243.00000071525574, 255, 1);
	width:517px;
	height:97.5px;
	position:absolute;
	left:0px;
	top:393px;
}
.e6328_20 { 
	color:rgba(31.000000052154064, 29.000000171363354, 29.000000171363354, 1);
	width:239.7161865234375px;
	height:30px;
	position:absolute;
	left:45px;
	top:36px;
	font-family:Exo;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6328_21 { 
	width:517px;
	height:393px;
	position:absolute;
	left:0.5px;
	top:0px;
	background-image:url(images/93f68f93_52f1_4369_a275_1843bf6dfdae___6f8a1936053a46675b79d476162f4677__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6328_22 { 
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:336.8399963378906px;
	height:44px;
	position:absolute;
	left:0.5px;
	top:371px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e6328_23 { 
	color:rgba(255, 255, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:28px;
	top:15px;
	font-family:Font Awesome 5 Free;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_24 { 
	color:rgba(255, 255, 255, 1);
	width:264.0325012207031px;
	height:18px;
	position:absolute;
	left:49.25px;
	top:13px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6328_161 { 
	box-shadow:0px 3px 114px rgba(0, 0, 0, 0.07999999821186066);
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:338px;
	height:175px;
	position:absolute;
	left:579px;
	top:900px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e6328_162 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:52px;
	position:absolute;
	left:21px;
	top:62px;
	font-family:Exo;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	line-height:px;
}
.e6328_163 { 
	box-shadow:0px 3px 114px rgba(0, 0, 0, 0.07999999821186066);
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:338px;
	height:175px;
	position:absolute;
	left:1044px;
	top:900px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e6328_164 { 
	color:rgba(255, 255, 255, 1);
	width:338px;
	height:44px;
	position:absolute;
	left:0px;
	top:66px;
	font-family:Exo;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	line-height:px;
}
.e6328_165 { 
	box-shadow:0px 3px 114px rgba(0, 0, 0, 0.07999999821186066);
	background-color:rgba(0, 32.00000189244747, 255, 1);
	width:338px;
	height:175px;
	position:absolute;
	left:1497px;
	top:900px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e6328_166 { 
	color:rgba(255, 255, 255, 1);
	width:295px;
	height:52px;
	position:absolute;
	left:21px;
	top:62px;
	font-family:Exo;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	line-height:px;
}
.e6363_2475 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
	width:124px;
	height:94px;
	position:absolute;
	left:224px;
	top:254px;
}
.e6363_2476 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:19px;
	position:absolute;
	left:234px;
	top:264px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6363_2477 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:19px;
	position:absolute;
	left:236px;
	top:291px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6363_2478 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:18px;
	position:absolute;
	left:241px;
	top:318px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.6363_2482 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e6363_2482 { 
	width:90px;
	height:0px;
	position:absolute;
	left:240px;
	top:291px;
}
.e6363_2483 { 
	transform: rotate(7.980131614835266e-16deg);
	width:94px;
	height:0px;
	position:absolute;
	left:236px;
	top:310px;
}
.6363_2483 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e6378_21 { 
	background-color:rgba(20.000000707805157, 6.000000117346644, 38.0000015348196, 1);
	width:1920px;
	height:720px;
	position:absolute;
	left:0px;
	top:4072px;
}
.e6378_22 { 
	width:1240px;
	height:697.030029296875px;
	position:absolute;
	left:476px;
	top:-23px;
}
.e6378_23 { 
	color:rgba(255, 255, 255, 1);
	width:377.956787109375px;
	height:78px;
	position:absolute;
	left:-152px;
	top:333px;
	font-family:Exo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e6378_24 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:20px;
	position:absolute;
	left:-129px;
	top:190px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_25 { 
	color:rgba(255, 255, 255, 1);
	width:111px;
	height:23px;
	position:absolute;
	left:396.5px;
	top:339px;
	font-family:Exo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e6378_26 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:19px;
	position:absolute;
	left:390.5px;
	top:451px;
	font-family:Exo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e6378_27 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:19px;
	position:absolute;
	left:390.5px;
	top:552px;
	font-family:Exo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e6378_28 { 
	color:rgba(255, 255, 255, 1);
	width:98.69209289550781px;
	height:26px;
	position:absolute;
	left:891.5px;
	top:184px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_29 { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:26px;
	position:absolute;
	left:396.5px;
	top:187px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_30 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:20px;
	position:absolute;
	left:393.5px;
	top:262px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_31 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:20px;
	position:absolute;
	left:393.5px;
	top:504px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_32 { 
	color:rgba(255, 255, 255, 1);
	width:98.69209289550781px;
	height:26px;
	position:absolute;
	left:892px;
	top:425px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_33 { 
	width:271px;
	height:58px;
	position:absolute;
	left:805px;
	top:504px;
	background-image:url(images/fa_img_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6378_34 { 
	color:rgba(255, 255, 255, 1);
	width:227px;
	height:20px;
	position:absolute;
	left:856px;
	top:387px;
	font-family:Exo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e6378_35 { 
	color:rgba(255, 255, 255, 1);
	width:204px;
	height:21px;
	position:absolute;
	left:1333px;
	top:245px;
	font-family:Exo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1459 { 
	background-color:rgba(22.000000588595867, 22.000000588595867, 22.000000588595867, 1);
	width:1008.3300170898438px;
	height:46px;
	position:absolute;
	left:635px;
	top:200px;
	border-radius:Symbol(figma.mixed)px;
}
.e6356_1460 { 
	width:348.9200134277344px;
	height:28px;
	position:absolute;
	left:30px;
	top:9px;
}
.e6356_1461 { 
	color:rgba(0, 32.00000189244747, 255, 1);
	width:9.684749603271484px;
	height:15px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1462 { 
	color:rgba(255, 255, 255, 1);
	width:356px;
	height:28px;
	position:absolute;
	left:15.369999885559082px;
	top:0px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1463 { 
	width:416.44000244140625px;
	height:28px;
	position:absolute;
	left:533.8900146484375px;
	top:9px;
}
.e6356_1464 { 
	width:239.22000122070312px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6356_1465 { 
	color:rgba(0, 32.00000189244747, 255, 1);
	width:11.578125px;
	height:15px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1466 { 
	color:rgba(255, 255, 255, 1);
	width:227.52162170410156px;
	height:18px;
	position:absolute;
	left:17.25px;
	top:5px;
	font-family:Exo;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1467 { 
	width:150.22000122070312px;
	height:28px;
	position:absolute;
	left:266.2200012207031px;
	top:0px;
}
.e6356_1468 { 
	color:rgba(0, 32.00000189244747, 255, 1);
	width:15.375px;
	height:15px;
	position:absolute;
	left:66.888671875px;
	top:6px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1469 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:18px;
	position:absolute;
	left:88.888671875px;
	top:5px;
	font-family:Exo;
	text-align:right;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1470 { 
	background-color:rgba(0, 31.874962002038956, 255, 1);
	width:1101.3299560546875px;
	height:80px;
	position:absolute;
	left:542px;
	top:246px;
	border-radius:Symbol(figma.mixed)px;
}
.e6356_1471 { 
	width:591.1599731445312px;
	height:80px;
	position:absolute;
	left:160px;
	top:0px;
}
.e6356_1472 { 
	width:59.08000183105469px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6356_1473 { 
	color:rgba(255, 255, 255, 1);
	width:46.8233757019043px;
	height:20px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Exo;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1474 { 
	color:rgba(255, 255, 255, 1);
	width:9.123250007629395px;
	height:22px;
	position:absolute;
	left:50.34000015258789px;
	top:29px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1475 { 
	width:61.27000045776367px;
	height:80px;
	position:absolute;
	left:104.06999969482422px;
	top:0px;
}
.e6356_1476 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:20px;
	position:absolute;
	left:-16.0703125px;
	top:28px;
	font-family:Exo;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1477 { 
	color:rgba(255, 255, 255, 1);
	width:9.123250007629395px;
	height:22px;
	position:absolute;
	left:52.540000915527344px;
	top:29px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1478 { 
	width:81.0199966430664px;
	height:80px;
	position:absolute;
	left:210.33999633789062px;
	top:0px;
}
.e6356_1479 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:20px;
	position:absolute;
	left:-11.33984375px;
	top:28px;
	font-family:Exo;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1480 { 
	color:rgba(255, 255, 255, 1);
	width:9.123250007629395px;
	height:22px;
	position:absolute;
	left:72.27999877929688px;
	top:29px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1481 { 
	width:49.11000061035156px;
	height:80px;
	position:absolute;
	left:336.3599853515625px;
	top:0px;
}
.e6356_1482 { 
	color:rgba(255, 255, 255, 1);
	width:36.6905632019043px;
	height:20px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Exo;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1483 { 
	color:rgba(255, 255, 255, 1);
	width:9.123250007629395px;
	height:22px;
	position:absolute;
	left:40.369998931884766px;
	top:29px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1484 { 
	width:53.15999984741211px;
	height:80px;
	position:absolute;
	left:430.4700012207031px;
	top:0px;
}
.e6356_1485 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:20px;
	position:absolute;
	left:-12.4697265625px;
	top:28px;
	font-family:Exo;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1486 { 
	color:rgba(255, 255, 255, 1);
	width:9.123250007629395px;
	height:22px;
	position:absolute;
	left:44.41999816894531px;
	top:29px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1487 { 
	width:62.529998779296875px;
	height:80px;
	position:absolute;
	left:528.6199951171875px;
	top:0px;
}
.e6356_1488 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:20px;
	position:absolute;
	left:-10.6201171875px;
	top:28px;
	font-family:Exo;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1489 { 
	width:279.8900146484375px;
	height:80px;
	position:absolute;
	left:813.4299926757812px;
	top:0px;
}
.e6356_1490 { 
	width:54.52000045776367px;
	height:28px;
	position:absolute;
	left:-13.4296875px;
	top:26px;
}
.e6356_1491 { 
	color:rgba(255, 255, 255, 1);
	width:16.35712432861328px;
	height:16px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1492 { 
	color:rgba(255, 255, 255, 1);
	width:18.27606201171875px;
	height:16px;
	position:absolute;
	left:36.54999923706055px;
	top:6px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1493 { 
	background-color:rgba(22.000000588595867, 22.000000588595867, 22.000000588595867, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:48.52000045776367px;
	top:12px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}
.e6356_1494 { 
	color:rgba(255, 255, 255, 1);
	width:7.606249809265137px;
	height:14px;
	position:absolute;
	left:5.369999885559082px;
	top:2px;
	font-family:Exo;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1495 { 
	background-color:rgba(52.54062429070473, 68.81677731871605, 182.74999290704727, 1);
	width:195.3800048828125px;
	height:80px;
	position:absolute;
	left:84.5199966430664px;
	top:0px;
}
.e6356_1496 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:22px;
	position:absolute;
	left:22.05078125px;
	top:29px;
	font-family:Exo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1497 { 
	color:rgba(255, 255, 255, 1);
	width:12.449999809265137px;
	height:14px;
	position:absolute;
	left:157.1199951171875px;
	top:33px;
	font-family:Font Awesome 5 Pro;
	text-align:left;
	font-size:13.671875px;
	letter-spacing:0;
	line-height:px;
}
.e6356_1498 { 
	width:296px;
	height:81px;
	position:absolute;
	left:354px;
	top:245px;
}
.e6356_1499 { 
	width:296px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6356_1500 { 
	background-color:rgba(255, 255, 255, 1);
	width:296px;
	height:81px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e6356_1501 { 
	width:177px;
	height:79px;
	position:absolute;
	left:41px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/header___link___logo_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}
</style>

<div class=e4316_614>
  <div class=e4316_616>
    <div class=e4316_618>
      <div class=e6367_2073><span  class="e6328_156">Aceros</span></div>
    </div>
    <div class=e4316_752>
      <div class=e4316_753>
        <div class=e4316_756><span  class="e4316_757">ver la colección ></span></div>
        <div class="e6326_1348"></div>
        <div class=e4316_758><span  class="e4316_759"></span><span  class="e4316_760">Madera</span></div>
      </div>
      <div class=e4316_761>
        <div class=e4316_764><span  class="e4316_765">ver la colección ></span></div>
        <div class="e6326_1349"></div>
        <div class=e4316_766><span  class="e4316_767"></span><span  class="e4316_768">Construcción</span></div>
      </div>
      <div class=e4316_769>
        <div class=e4316_772><span  class="e4316_773">Ver la colección ></span></div>
        <div class="e6326_1351"></div>
        <div class=e4316_774><span  class="e4316_775"></span><span  class="e4316_776"> Electricos</span></div>
      </div>
    </div>
    <div class=e6328_48>
      <div class=e6328_49>
        <div class=e6328_50><span  class="e6328_51">ver la colección ></span></div>
        <div class="e6328_52"></div>
        <div class=e6328_53><span  class="e6328_54"></span><span  class="e6328_55">Madera</span></div>
      </div>
      <div class=e6328_57>
        <div class=e6328_58><span  class="e6328_59">ver la colección ></span></div>
        <div class="e6328_60"></div>
        <div class=e6328_61><span  class="e6328_62"></span><span  class="e6328_63">Construcción</span></div>
      </div>
      <div class=e6328_64>
        <div class=e6328_65><span  class="e6328_66">Ver la colección ></span></div>
        <div class="e6328_67"></div>
        <div class=e6328_68><span  class="e6328_69"></span><span  class="e6328_70"> Electricos</span></div>
      </div>
    </div>
    <div class=e4316_854>
      <div class=e4316_855>
        <div class="e4316_856"></div>
      </div>
      <div class=e4316_857>
        <div class="e4316_858"></div>
        <div class=e4316_859>
          <div class=e4316_862><span  class="e4316_864">Tenemos todo lo que buscas!</span></div>
        </div>
        <div class=e4316_865><span  class="e4316_866">Ver productos</span></div>
      </div>
      <div class=e4316_867>
        <div class="e4316_868"></div>
      </div>
      <div class=e4316_869></div>
      <div class=e4316_871></div>
    </div>
    <div class="e6322_1256"></div>
    <div class=e6328_2>
      <div class=e6328_3>
        <div class=e6328_4><span  class="e6328_5">ver la colección ></span></div>
        <div class="e6328_6"></div>
        <div class=e6328_7><span  class="e6328_8"></span><span  class="e6328_9">Madera</span></div>
      </div>
      <div class=e6328_11>
        <div class=e6328_12><span  class="e6328_13">ver la colección ></span></div>
        <div class="e6328_14"></div>
        <div class=e6328_15><span  class="e6328_16"></span><span  class="e6328_17">Construcción</span></div>
      </div>
      <div class=e6328_18>
        <div class=e6328_19><span  class="e6328_20">Ver la colección ></span></div>
        <div class="e6328_21"></div>
        <div class=e6328_22><span  class="e6328_23"></span><span  class="e6328_24"> Electricos</span></div>
      </div>
    </div>
  
    <div class="e6363_2475"></div><span  class="e6363_2476">Ing🇺🇸</span><span  class="e6363_2477">esp🇪🇸</span><span  class="e6363_2478">Por🇵🇹</span>
    <div class="e6363_2482"></div>
    <div class="e6363_2483"></div>
    <div class=e6378_21>
      <div class=e6378_22><span  class="e6378_23">
Definiciones de privacidad
Proveedor
Política de Privacidad
Términos e Condiciones de Uso
Acerca de Bosch
Cómo Comprar
Cambio y Devolución
Contácte el Revendedor Bosch
Blog</span><span  class="e6378_24">Institucional</span><span  class="e6378_25">Lunes - Jueves09:00 am a 19:00 pm</span><span  class="e6378_26">800 400 008</span><span  class="e6378_27">(+56) 225801090</span><span  class="e6378_28">Cuenta</span><span  class="e6378_29">Servicio al cliente</span><span  class="e6378_30">horario de atencion</span><span  class="e6378_31">Desde celulares</span><span  class="e6378_32">Pagos</span></div><span  class="e6378_34">Teléfono</span><span  class="e6378_35">Mi Cuenta
Mis Pedidos</span>
    </div>
  </div>
  <div class=e6356_1459>
    <div class=e6356_1460><span  class="e6356_1461"></span><span  class="e6356_1462">Pasaremos por todas las etapas de la construcción.</span></div>
    <div class=e6356_1463>
      <div class=e6356_1464><span  class="e6356_1465"></span><span  class="e6356_1466">203 Madison Ave, New York, USA</span></div>
      <div class=e6356_1467><span  class="e6356_1468"></span><span  class="e6356_1469">Login</span></div>
    </div>
  </div>
  <div class=e6356_1470>
    <div class=e6356_1471>
      <div class=e6356_1472><span  class="e6356_1473">Inicio</span><span  class="e6356_1474"></span></div>
      <div class=e6356_1475><span  class="e6356_1476">paginas</span><span  class="e6356_1477"></span></div>
      <div class=e6356_1478><span  class="e6356_1479">Servicios</span><span  class="e6356_1480"></span></div>
      <div class=e6356_1481><span  class="e6356_1482">Blog</span><span  class="e6356_1483"></span></div>
      <div class=e6356_1484><span  class="e6356_1485">Tienda</span><span  class="e6356_1486"></span></div>
      <div class=e6356_1487><span  class="e6356_1488">Contacto</span></div>
    </div>
    <div class=e6356_1489>
      <div class=e6356_1490><span  class="e6356_1491"></span><span  class="e6356_1492"></span>
        <div class=e6356_1493><span  class="e6356_1494">0</span></div>
      </div>
      <div class=e6356_1495><span  class="e6356_1496">Registrarse</span><span  class="e6356_1497"></span></div>
    </div>
  </div>
  <div class=e6356_1498>
    <div class=e6356_1499>
      <div class=e6356_1500></div>
    </div>
  </div>
</div>