<div style="width: 1920px; height: 4761px; position: relative; background: #B63030">
    <div style="width: 1920px; height: 4792px; left: 0px; top: -15px; position: absolute; background: white">
      <div style="width: 338px; height: 175px; padding-top: 62px; padding-bottom: 61px; padding-left: 21px; padding-right: 22px; left: 105px; top: 900px; position: absolute; background: #0020FF; box-shadow: 0px 3px 114px rgba(0, 0, 0, 0.08); border-radius: 100px; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 295px; height: 52px; text-align: center; color: white; font-size: 50px; font-family: Exo; font-weight: 800; line-height: 90px; word-wrap: break-word">Aceros</div>
        </div>
      </div>
      <div style="height: 490.50px; padding-left: 4.50px; padding-right: 6.50px; left: 161px; top: 2211px; position: absolute; justify-content: center; align-items: flex-start; gap: 39px; display: inline-flex">
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 517px; height: 393px" src="https://via.placeholder.com/517x393" />
          <div style="width: 336.84px; height: 44px; position: relative; background: #0020FF; border-radius: 30px">
            <div style="width: 11.58px; height: 15px; left: 28px; top: 15px; position: absolute; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; left: 49.25px; top: 13px; position: absolute; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Madera</div>
            <div style="width: 100px; height: 100px; left: 151.50px; top: -28px; position: absolute"></div>
          </div>
          <div style="height: 97.50px; padding-top: 36px; padding-bottom: 31.50px; padding-left: 45px; padding-right: 223.42px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 248.58px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">ver la colección ></div>
          </div>
        </div>
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 511px; height: 410px" src="https://via.placeholder.com/511x410" />
          <div style="padding-top: 13px; padding-bottom: 13px; padding-left: 28px; padding-right: 23.56px; background: #0020FF; border-radius: 30px; justify-content: flex-end; align-items: flex-end; gap: 9.67px; display: inline-flex">
            <div style="width: 11.58px; height: 15px; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Construcción</div>
          </div>
          <div style="height: 97.50px; padding-top: 49px; padding-bottom: 18.50px; padding-left: 37px; padding-right: 240.28px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 239.72px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">ver la colección ></div>
          </div>
        </div>
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 517px; height: 393px" src="https://via.placeholder.com/517x393" />
          <div style="padding-top: 13px; padding-bottom: 13px; padding-left: 28px; padding-right: 23.56px; background: #0020FF; border-radius: 30px; justify-content: flex-end; align-items: flex-end; gap: 9.67px; display: inline-flex">
            <div style="width: 11.58px; height: 15px; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word"> Electricos</div>
          </div>
          <div style="height: 97.50px; padding-top: 36px; padding-bottom: 31.50px; padding-left: 45px; padding-right: 232.28px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 239.72px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">Ver la colección ></div>
          </div>
        </div>
      </div>
      <div style="height: 490.50px; padding-left: 4.50px; padding-right: 6.50px; left: 155px; top: 3486px; position: absolute; justify-content: center; align-items: flex-start; gap: 39px; display: inline-flex">
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 517px; height: 393px" src="https://via.placeholder.com/517x393" />
          <div style="width: 336.84px; height: 44px; position: relative; background: #0020FF; border-radius: 30px">
            <div style="width: 11.58px; height: 15px; left: 28px; top: 15px; position: absolute; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; left: 49.25px; top: 13px; position: absolute; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Madera</div>
            <div style="width: 100px; height: 100px; left: 151.50px; top: -28px; position: absolute"></div>
          </div>
          <div style="height: 97.50px; padding-top: 36px; padding-bottom: 31.50px; padding-left: 45px; padding-right: 223.42px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 248.58px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">ver la colección ></div>
          </div>
        </div>
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 511px; height: 410px" src="https://via.placeholder.com/511x410" />
          <div style="padding-top: 13px; padding-bottom: 13px; padding-left: 28px; padding-right: 23.56px; background: #0020FF; border-radius: 30px; justify-content: flex-end; align-items: flex-end; gap: 9.67px; display: inline-flex">
            <div style="width: 11.58px; height: 15px; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Construcción</div>
          </div>
          <div style="height: 97.50px; padding-top: 49px; padding-bottom: 18.50px; padding-left: 37px; padding-right: 240.28px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 239.72px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">ver la colección ></div>
          </div>
        </div>
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 517px; height: 393px" src="https://via.placeholder.com/517x393" />
          <div style="padding-top: 13px; padding-bottom: 13px; padding-left: 28px; padding-right: 23.56px; background: #0020FF; border-radius: 30px; justify-content: flex-end; align-items: flex-end; gap: 9.67px; display: inline-flex">
            <div style="width: 11.58px; height: 15px; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word"> Electricos</div>
          </div>
          <div style="height: 97.50px; padding-top: 36px; padding-bottom: 31.50px; padding-left: 45px; padding-right: 232.28px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 239.72px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">Ver la colección ></div>
          </div>
        </div>
      </div>
      <div style="width: 1220px; height: 68.89px; left: 350px; top: 5330.58px; position: absolute"></div>
      <div style="width: 1920px; height: 703.50px; left: 0px; top: 1206px; position: absolute">
        <div style="width: 1371.42px; height: 703.50px; left: -1097.15px; top: 0px; position: absolute; background-image: url(https://via.placeholder.com/1371x703); justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 1371.42px; height: 703.50px; background: rgba(0, 0, 0, 0.50)"></div>
        </div>
        <div style="width: 1371.42px; height: 703.50px; left: 274.27px; top: 0px; position: absolute; background-image: url(https://via.placeholder.com/1371x703)">
          <div style="width: 1371.42px; height: 703.50px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.50)"></div>
          <div style="height: 240px; left: 280.71px; top: 225px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 28px; display: inline-flex">
            <img style="width: 14px; height: 22px; position: relative" src="https://via.placeholder.com/14x22" />
            <div style="align-self: stretch; height: 190px; padding-top: 41px; padding-bottom: 41px; padding-left: 156.02px; padding-right: 156.90px; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 497.08px; height: 108px; text-align: center; color: white; font-size: 64px; font-family: Exo; font-weight: 800; line-height: 90px; word-wrap: break-word">Tenemos todo lo que buscas!</div>
            </div>
          </div>
          <div style="height: 58.50px; padding-left: 30px; padding-right: 28.83px; left: 596.80px; top: 495px; position: absolute; background: #0020FF; border-radius: 4px; justify-content: center; align-items: center; display: inline-flex">
            <div style="text-align: center; color: white; font-size: 15px; font-family: Exo; font-weight: 700; text-transform: uppercase; line-height: 16.50px; word-wrap: break-word">Ver productos</div>
          </div>
        </div>
        <div style="width: 1371.42px; height: 703.50px; left: 1645.69px; top: 0px; position: absolute; background-image: url(https://via.placeholder.com/1371x703); justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 1371.43px; height: 703.50px; background: rgba(0, 0, 0, 0.50)"></div>
        </div>
        <div style="width: 60px; height: 60px; padding-left: 20.50px; padding-right: 20.50px; left: 384px; top: 321.75px; position: absolute; background: white; border-radius: 10px; justify-content: center; align-items: center; display: inline-flex">
          <img style="width: 19px; height: 11px; position: relative" src="https://via.placeholder.com/19x11" />
        </div>
        <div style="width: 60px; height: 60px; padding-left: 20.50px; padding-right: 20.50px; left: 1476px; top: 321.75px; position: absolute; background: white; border-radius: 10px; justify-content: center; align-items: center; display: inline-flex">
          <img style="width: 19px; height: 11px; position: relative" src="https://via.placeholder.com/19x11" />
        </div>
      </div>
      <div style="width: 1220px; height: 68.89px; left: 350px; top: 9834.25px; position: absolute"></div>
      <img style="width: 1920px; height: 796px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1920x796" />
      <div style="height: 490.50px; padding-left: 4.50px; padding-right: 6.50px; left: 161px; top: 2835px; position: absolute; justify-content: center; align-items: flex-start; gap: 39px; display: inline-flex">
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 517px; height: 393px" src="https://via.placeholder.com/517x393" />
          <div style="width: 336.84px; height: 44px; position: relative; background: #0020FF; border-radius: 30px">
            <div style="width: 11.58px; height: 15px; left: 28px; top: 15px; position: absolute; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; left: 49.25px; top: 13px; position: absolute; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Madera</div>
            <div style="width: 100px; height: 100px; left: 151.50px; top: -28px; position: absolute"></div>
          </div>
          <div style="height: 97.50px; padding-top: 36px; padding-bottom: 31.50px; padding-left: 45px; padding-right: 223.42px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 248.58px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">ver la colección ></div>
          </div>
        </div>
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 511px; height: 410px" src="https://via.placeholder.com/511x410" />
          <div style="padding-top: 13px; padding-bottom: 13px; padding-left: 28px; padding-right: 23.56px; background: #0020FF; border-radius: 30px; justify-content: flex-end; align-items: flex-end; gap: 9.67px; display: inline-flex">
            <div style="width: 11.58px; height: 15px; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Construcción</div>
          </div>
          <div style="height: 97.50px; padding-top: 49px; padding-bottom: 18.50px; padding-left: 37px; padding-right: 240.28px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 239.72px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">ver la colección ></div>
          </div>
        </div>
        <div style="width: 517px; height: 490.50px; position: relative; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 517px; height: 393px" src="https://via.placeholder.com/517x393" />
          <div style="padding-top: 13px; padding-bottom: 13px; padding-left: 28px; padding-right: 23.56px; background: #0020FF; border-radius: 30px; justify-content: flex-end; align-items: flex-end; gap: 9.67px; display: inline-flex">
            <div style="width: 11.58px; height: 15px; color: white; font-size: 15px; font-family: Font Awesome 5 Free; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
            <div style="width: 264.03px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word"> Electricos</div>
          </div>
          <div style="height: 97.50px; padding-top: 36px; padding-bottom: 31.50px; padding-left: 45px; padding-right: 232.28px; background: #EEF3FF; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 239.72px; height: 30px; color: #1F1D1D; font-size: 25px; font-family: Exo; font-weight: 700; line-height: 32.50px; word-wrap: break-word">Ver la colección ></div>
          </div>
        </div>
      </div>
      <div style="width: 338px; height: 175px; padding-top: 62px; padding-bottom: 61px; padding-left: 21px; padding-right: 22px; left: 579px; top: 900px; position: absolute; background: #0020FF; box-shadow: 0px 3px 114px rgba(0, 0, 0, 0.08); border-radius: 100px; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 295px; height: 52px; text-align: center; color: white; font-size: 50px; font-family: Exo; font-weight: 800; line-height: 90px; word-wrap: break-word">Ferretería</div>
      </div>
      <div style="width: 338px; height: 175px; left: 1044px; top: 900px; position: absolute; background: #0020FF; box-shadow: 0px 3px 114px rgba(0, 0, 0, 0.08); border-radius: 100px; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 338px; height: 44px; text-align: center; color: white; font-size: 50px; font-family: Exo; font-weight: 800; line-height: 90px; word-wrap: break-word">Herramientas</div>
      </div>
      <div style="width: 338px; height: 175px; padding-top: 62px; padding-bottom: 61px; padding-left: 21px; padding-right: 22px; left: 1497px; top: 900px; position: absolute; background: #0020FF; box-shadow: 0px 3px 114px rgba(0, 0, 0, 0.08); border-radius: 100px; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 295px; height: 52px; text-align: center; color: white; font-size: 50px; font-family: Exo; font-weight: 800; line-height: 90px; word-wrap: break-word">Maderas</div>
      </div>
      <div style="width: 124px; height: 94px; left: 224px; top: 254px; position: absolute; background: #AAAAAA"></div>
      <div style="width: 103px; height: 19px; left: 234px; top: 264px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Roboto; font-weight: 700; text-transform: uppercase; line-height: 16.50px; word-wrap: break-word">Ing🇺🇸</div>
      <div style="width: 101px; height: 19px; left: 236px; top: 291px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Roboto; font-weight: 700; text-transform: uppercase; line-height: 16.50px; word-wrap: break-word">esp🇪🇸</div>
      <div style="width: 89px; height: 18px; left: 241px; top: 318px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Roboto; font-weight: 700; text-transform: uppercase; line-height: 16.50px; word-wrap: break-word">Por🇵🇹</div>
      <div style="width: 90px; height: 0px; left: 240px; top: 291px; position: absolute; border: 1px black solid"></div>
      <div style="width: 94px; height: 0px; left: 236px; top: 310px; position: absolute; border: 1px black solid"></div>
      <div style="width: 1920px; height: 720px; left: 0px; top: 4072px; position: absolute; background: #140626">
        <div style="width: 1240px; height: 697.03px; left: 476px; top: -23px; position: absolute">
          <div style="width: 377.96px; height: 78px; left: -152px; top: 333px; position: absolute"><span style="color: white; font-size: 18px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word"><br/></span><span style="color: white; font-size: 18px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Definiciones de privacidad<br/>Proveedor<br/>Política de Privacidad<br/>Términos e Condiciones de Uso<br/>Acerca de Bosch<br/>Cómo Comprar<br/>Cambio y Devolución<br/>Contácte el Revendedor Bosch<br/>Blog</span></div>
          <div style="width: 158px; height: 20px; left: -129px; top: 190px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">Institucional</div>
          <div style="width: 111px; height: 23px; left: 396.50px; top: 339px; position: absolute; color: white; font-size: 16px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Lunes - Jueves        09:00 am a 19:00 pm</div>
          <div style="width: 110px; height: 19px; left: 390.50px; top: 451px; position: absolute; color: white; font-size: 16px; font-family: Exo; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">800 400 008</div>
          <div style="width: 145px; height: 19px; left: 390.50px; top: 552px; position: absolute; color: white; font-size: 16px; font-family: Exo; font-weight: 400; text-decoration: underline; line-height: 28px; word-wrap: break-word">(+56) 225801090</div>
          <div style="width: 98.69px; height: 26px; left: 891.50px; top: 184px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">Cuenta</div>
          <div style="width: 191px; height: 26px; left: 396.50px; top: 187px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">Servicio al cliente</div>
          <div style="width: 227px; height: 20px; left: 393.50px; top: 262px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">horario de atencion</div>
          <div style="width: 227px; height: 20px; left: 393.50px; top: 504px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">Desde celulares</div>
          <div style="width: 98.69px; height: 26px; left: 892px; top: 425px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">Pagos</div>
          <img style="width: 271px; height: 58px; left: 805px; top: 504px; position: absolute" src="https://via.placeholder.com/271x58" />
        </div>
        <div style="width: 227px; height: 20px; left: 856px; top: 387px; position: absolute; color: white; font-size: 22px; font-family: Exo; font-weight: 800; text-decoration: underline; line-height: 28.60px; word-wrap: break-word">Teléfono</div>
        <div style="width: 204px; height: 21px; left: 1333px; top: 245px; position: absolute; color: white; font-size: 16px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">Mi Cuenta<br/>Mis Pedidos</div>
      </div>
    </div>
    <div style="height: 46px; padding-top: 9px; padding-bottom: 9px; padding-left: 30px; padding-right: 58px; left: 635px; top: 200px; position: absolute; background: #161616; border-top-left-radius: 25px; border-top-right-radius: 25px; justify-content: flex-start; align-items: flex-start; gap: 154.97px; display: inline-flex">
      <div style="width: 348.92px; align-self: stretch; justify-content: flex-end; align-items: center; gap: 5.69px; display: inline-flex">
        <div style="width: 9.68px; height: 15px; color: #0020FF; font-size: 15px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
        <div style="color: white; font-size: 15px; font-family: Exo; font-weight: 500; line-height: 28px; word-wrap: break-word">Pasaremos por todas las etapas de la construcción.</div>
      </div>
      <div style="width: 416.44px; align-self: stretch; justify-content: center; align-items: flex-start; gap: 27px; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding-top: 5px; padding-bottom: 5px; justify-content: flex-end; align-items: flex-end; gap: 5.67px; display: inline-flex">
          <div style="width: 11.58px; height: 15px; color: #0020FF; font-size: 15px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
          <div style="width: 227.52px; height: 18px; color: white; font-size: 15px; font-family: Exo; font-weight: 500; line-height: 28px; word-wrap: break-word">203 Madison Ave, New York, USA</div>
        </div>
        <div style="width: 150.22px; align-self: stretch; padding-top: 5px; padding-bottom: 5px; padding-left: 66.89px; justify-content: flex-end; align-items: flex-start; gap: 6.62px; display: inline-flex">
          <div style="width: 15.38px; height: 15px; color: #0020FF; font-size: 15px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 15px; word-wrap: break-word"></div>
          <div style="width: 64px; height: 18px; text-align: right; color: white; font-size: 25px; font-family: Exo; font-weight: 500; line-height: 28px; word-wrap: break-word">Login</div>
        </div>
      </div>
    </div>
    <div style="height: 80px; padding-left: 160px; padding-right: 8.01px; left: 542px; top: 246px; position: absolute; background: #0020FF; border-top-left-radius: 45px; border-top-right-radius: 45px; border-bottom-right-radius: 45px; justify-content: flex-end; align-items: flex-start; gap: 62.27px; display: inline-flex">
      <div style="width: 591.16px; align-self: stretch; padding-right: 0.01px; justify-content: center; align-items: flex-start; gap: 44.99px; display: inline-flex">
        <div style="width: 59.08px; align-self: stretch; padding-top: 28px; padding-bottom: 29px; justify-content: center; align-items: flex-start; gap: 3.52px; display: inline-flex">
          <div style="width: 46.82px; height: 20px; color: white; font-size: 17px; font-family: Exo; font-weight: 700; line-height: 22px; word-wrap: break-word">Inicio</div>
          <div style="width: 9.12px; height: 22px; color: white; font-size: 10px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 22px; word-wrap: break-word"></div>
        </div>
        <div style="width: 61.27px; align-self: stretch; padding-top: 28px; padding-bottom: 29px; justify-content: flex-start; align-items: flex-start; gap: 3.61px; display: inline-flex">
          <div style="width: 65px; height: 20px; color: white; font-size: 17px; font-family: Exo; font-weight: 700; line-height: 22px; word-wrap: break-word">paginas</div>
          <div style="width: 9.12px; height: 22px; color: white; font-size: 10px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 22px; word-wrap: break-word"></div>
        </div>
        <div style="flex: 1 1 0; align-self: stretch; padding-top: 28px; padding-bottom: 29px; justify-content: flex-start; align-items: flex-start; gap: 3.62px; display: inline-flex">
          <div style="width: 80px; height: 20px; color: white; font-size: 17px; font-family: Exo; font-weight: 700; line-height: 22px; word-wrap: break-word">Servicios</div>
          <div style="width: 9.12px; height: 22px; color: white; font-size: 10px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 22px; word-wrap: break-word"></div>
        </div>
        <div style="width: 49.11px; align-self: stretch; padding-top: 28px; padding-bottom: 29px; justify-content: center; align-items: flex-start; gap: 3.68px; display: inline-flex">
          <div style="width: 36.69px; height: 20px; color: white; font-size: 17px; font-family: Exo; font-weight: 700; line-height: 22px; word-wrap: break-word">Blog</div>
          <div style="width: 9.12px; height: 22px; color: white; font-size: 10px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 22px; word-wrap: break-word"></div>
        </div>
        <div style="width: 53.16px; align-self: stretch; padding-top: 28px; padding-bottom: 29px; justify-content: flex-start; align-items: flex-start; gap: 3.89px; display: inline-flex">
          <div style="width: 53px; height: 20px; color: white; font-size: 17px; font-family: Exo; font-weight: 700; line-height: 22px; word-wrap: break-word">Tienda</div>
          <div style="width: 9.12px; height: 22px; color: white; font-size: 10px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 22px; word-wrap: break-word"></div>
        </div>
        <div style="width: 62.53px; align-self: stretch; padding-top: 28px; padding-bottom: 32px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
          <div style="width: 74px; height: 20px; color: white; font-size: 17px; font-family: Exo; font-weight: 700; line-height: 22px; word-wrap: break-word">Contacto</div>
        </div>
      </div>
      <div style="width: 279.89px; align-self: stretch; justify-content: flex-start; align-items: center; gap: 43.43px; display: inline-flex">
        <div style="width: 54.52px; height: 28px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 16.36px; height: 16px; color: white; font-size: 16px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 16px; word-wrap: break-word"></div>
          <div style="width: 18.28px; height: 16px; color: white; font-size: 16px; font-family: Font Awesome 5 Pro; font-weight: 900; line-height: 16px; word-wrap: break-word"></div>
          <div style="width: 18px; height: 18px; padding-top: 2px; padding-bottom: 2px; padding-left: 5.37px; padding-right: 5.02px; background: #161616; border-radius: 9px; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 7.61px; height: 14px; color: white; font-size: 12px; font-family: Exo; font-weight: 400; line-height: 28px; word-wrap: break-word">0</div>
          </div>
        </div>
        <div style="width: 195.38px; padding-left: 22.05px; padding-right: 25.81px; background: #3545B7; justify-content: center; align-items: center; gap: 7.07px; display: inline-flex">
          <div style="width: 128px; height: 22px; color: white; font-size: 18px; font-family: Exo; font-weight: 800; text-transform: uppercase; line-height: 28px; word-wrap: break-word">Registrarse</div>
          <div style="width: 12.45px; height: 14px; color: white; font-size: 13.67px; font-family: Font Awesome 5 Pro; font-weight: 900; text-transform: uppercase; line-height: 14px; word-wrap: break-word"></div>
        </div>
      </div>
    </div>
    <div style="width: 296px; height: 81px; padding-bottom: 2px; padding-left: 41px; padding-right: 78px; left: 354px; top: 245px; position: absolute; background: white; border-top-left-radius: 45px; border-top-right-radius: 45px; border-bottom-right-radius: 45px; justify-content: flex-start; align-items: center; display: inline-flex">
      <img style="width: 177px; height: 79px; position: relative; border-radius: 100px" src="https://via.placeholder.com/177x79" />
    </div>
  </div>