

.boton-ferreteria {
    background-color: #0000FF; /* Color de fondo azul */
    color: #FFFFFF; /* Texto en color blanco */
    padding: 40px 50px; /* Espaciado interno para dar tamaño al botón */
    border-radius: 50px; /* Bordes redondeados */
    border: none; /* Sin borde */
    text-align: center; /* Texto centrado */
    font-size: 1.5em; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    font-family: Arial, sans-serif; /* Tipo de letra */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para efecto 3D */
    cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
    margin-right: 100px; /* Margen a la derecha para separar los botones */
    /* Ajusta el margen a cero para el último botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo al hacer hover */
    display: inline-block; /* Esto hace que los botones se muestren en línea */
}

.boton-ferreteria:last-child {
    margin-right: 0; /* Asegura que no haya margen extra después del último botón */
}

.boton-ferreteria:hover {
    background-color: #0000CC; /* Color de fondo un poco más oscuro al hacer hover */
}




.boton-ferreteria2 {
    background-color: #ff0000; /* Color de fondo azul */
    color: #FFFFFF; /* Texto en color blanco */
    padding: 40px 50px; /* Espaciado interno para dar tamaño al botón */
    border-radius: 50px; /* Bordes redondeados */
    border: none; /* Sin borde */
    text-align: center; /* Texto centrado */
    font-size: 0.9em; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    font-family: Arial, sans-serif; /* Tipo de letra */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera para efecto 3D */
    cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
    margin-right: 20px; /* Margen a la derecha para separar los botones */
    /* Ajusta el margen a cero para el último botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo al hacer hover */
    display: inline-block; /* Esto hace que los botones se muestren en línea */
}

.boton-ferreteria2:last-child {
    margin-right: 0; /* Asegura que no haya margen extra después del último botón */
}

.boton-ferreteria2:hover {
    background-color: #ff0000; /* Color de fondo un poco más oscuro al hacer hover */
}






.table-title {
    text-align: center; /* Centra el texto */
    width: 100%; /* Ocupa el ancho completo del contenedor */
    margin: 0 auto; /* Centra el bloque si tiene un ancho específico */
    color: #333; /* Color del texto, ajusta según tu diseño */
    padding: 20px 0; /* Espaciado superior e inferior para una mejor visualización */
}





.row {
    display: flex; /* Esto alinea los elementos horizontalmente */
    justify-content: flex-start; /* Esto alinea los elementos al inicio de la fila */
}


.product-section {
    margin-bottom: 1500px; /* Ajusta este valor para incrementar el espacio */
}


input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}



.single-product-item {
    height: 450px; /* Ajusta esta altura según necesites */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image img {
    width: 100%; /* Esto hace que la imagen ocupe todo el ancho de la tarjeta */
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}

.single-product-item h3 {
    height: 3em; /* Fija la altura del título para asegurar consistencia */
    overflow: hidden; /* Oculta el texto que sobrepasa el espacio disponible */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se extienda a múltiples líneas */
}

.product-price {
    height: 1.5em; /* Altura fija para el precio */
}


.single-product-item {
    height: 450px !important;
}


.cart-product-image {
    width: 100px; /* Ajusta el ancho como prefieras */
    height: auto; /* Esto mantiene la proporción de la imagen */
}


.img-small {
    width: 50px;
    height: 50px;
    object-fit: cover;  /* Opcional: para ajustar la imagen dentro del contenedor */
}
